:root {
  --border: rgba(0,0,0,.2);
  --shadow: #000;
  --heading: rgba(255,100,0,1);
  --main: #1d8f13;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0,0,0,.3);
  --background: #fff;
  --backgroundButton: #fff;
  --backgroundNavbar:#FF7701;
  --textButton:#FF7701;
}


body {
  background: var(--backgroundBody);
}

h1, 
p { 
  color: var(--text); 
}

.MuiCard-root {
  background: var(--background) !important;
}

.MuiBottomNavigation-root {
  background: var(--backgroundNavbar) !important;
  color: var(--text); 
}

.MuiTypography-root {
  color: var(--text) !important;
}

.MuiButtonBase-root .Mui-selected {
  color: var(--textButton) !important;
}

.Mui-selected {
  color: var(--textButton) !important;
}

.card__container button {
  background: var(--backgroundButton);
  color: var(--text);
}

.MuiIconButton-label {
  color: var(--text);
}

h2 { 
  color: var(--heading); 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Mui-selected {
  color:black;
}

.outer-container {
  height: calc(100vh - 56px);
  /* padding-bottom: 56px; */
  overflow: hidden;
}

@media (min-width: 960px) {
  .card__container {
      display: flex;
      flex-wrap: nowrap;
      margin-top:2em;
      height: auto !important;
      /* height: 70vh; */
      overflow-x: auto;
      width: auto;
  }
  .btn__detail {
    display: block !important;
  }
}

@media (max-width: 960px) {
  .card__container {
    height: 100vh;
    height: calc(100vh - 56px);
    overflow: auto;
  }
  .btn__detail {
    display: none !important;
  }
}

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;        
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1 ;} /* IE < 8 */

.MuiTypography-body2 {
  font-size: 0.775rem !important;
}

.MuiCardContent-root {
  padding-left: 10px !important;
  padding-right: 0px !important;
}

.MuiCardActions-root {
  padding-bottom: 0 !important;
}


.inline-block {
  display: inline-block;
}

/* .List {
  min-height: 365px;
  height: auto !important;
} */